{% extends "pmessages/base.html" %}

{% block content %}
<div class="row">
    <section id="main" class="span8">
        <div class="hero-unit">
            <h1>About Proxi</h1>
            <p>Proxi is a proximity messaging service.<br />
                Your messages will be displayed to people around you, and the messages you see were posted by people around.<br />
                You want to know if there is an open bakery around? Just ask!
                </p>
    </section>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
