{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Proxi</title>
    <meta name="description" content="Proxi is a local messaging service. Chat with your neighbours using Proxi.">
    <meta name="keywords" content="Proxi,local,messaging,neighbours,proximity,message">
    {% block css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="{%static "css/base.css" %}" />
    {% endblock %}
    {% block js %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="{% static "js/proxy.js" %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    {% include "pmessages/header.html" %}
    {% endblock %}
    <div class="container">
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% include "pmessages/footer.html" %}
    {% endblock %}
    </div>
  </body>
</html>
