{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Proxy</title>
    {% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "bootstrap/css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{%static "css/base.css" %}" />
    {% endblock %}
    {% block js %}
    <script src="{% static "jquery/jquery-1.8.2.min.js" %}"></script>
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="row">
            {% block header %}
            {% include "pmessages/header.html" %}
            {% endblock %}
              <div id="content">
                {% block content %}
                {% endblock %}
              </div>
            {% block footer %}
            {% include "pmessages/footer.html" %}
            {% endblock %}
        </div>
    </div>
  </body>
</html>
