{% load url from future %}

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="{% url 'pmessages.views.index' %}">Proxy</a>
        <ul class="nav">
            <li><a href="#">About</a></li>
        </ul>
        <form class="navbar-search pull-right" action="{% url 'pmessages.views.search' %}" method="post">
            {% csrf_token %}
            <input id="id_query" type="text" name="query" maxlength="100" class="search-query" placeholder="Search" >
        </form>
    </div>
</div>
