{% extends "pmessages/base.html" %}

{% load url from future %}
{% load humanize %}

{% block content %}
<div class="row">
    <section id="input" class="span4">
        {% if username %}
            <form action="{% url 'pmessages.views.add' %}" method="post">
                {% csrf_token %}
                {{ message_form.non_field_errors }}
                <fieldset>
                <legend>Post a new proxy message !</legend>
                {{ message_form.message.errors }}
                {{ message_form.message }}
                <button type="submit" class="btn">Post</button>
                </fieldset>
            </form>
        {% else %}
            <form action="{% url 'pmessages.views.login' %}" method="post">
                {% csrf_token %}
                {{ user_form.non_field_errors }}
                <fieldset>
                <legend>Choose your pseudo !</legend>
                {{ user_form.username.errors }}
                {{ user_form.username }}
                <button type="submit" class="btn">Use</button>
                </fieldset>
            </form>
        {% endif %}
    {% if username %}
        Currently logged as {{ username }}.
        <form action="{% url 'pmessages.views.logout' %}">
            <button type="submit" class="btn-inverse">Logout</button>
        </form>
    {% endif %}
    </section>
    <section id="main" class="span8">
{% if all_messages %}
    {% for message in all_messages %}
        <article class="well well-small">
            <section class="message-text">
                <p><a href="{% url 'pmessages.views.detail' message.id %}">{{ message.message }}</a></p>
            </section>
            <section class=message-info>
                <span class="message-author">
                    Par <a href="{% url 'pmessages.views.search' message.username %}">{{ message.username }}</a>
                </span>
                <span class="message-date">
                    {{ message.date|naturaltime }}
                </span>
            </section>
        </article>
    {% endfor %}
{% else %}
    <p>No message.</p>
{% endif %}
    </section>
</div>
{% endblock %}
