{% extends "pmessages/base.html" %}

{% load url from future %}
{% load humanize %}

{% block content %}
<div class="row">
    <section id="input" class="span4">
    {% if location %}
        {% if username %}
            <form action="" name="message_form" method="post">
                {% csrf_token %}
                <fieldset>
                <legend>Post a new proxy message !</legend>
                {% if message_form.non_field_errors %}
                    {% for error in message_form.non_field_errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if message_form.message.errors %}
                    {% for error in message_form.message.errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ message_form.message }}
                <button type="submit" class="btn" name="post_message">Post</button>
                </fieldset>
            </form>
        {% else %}
            <form action="" name="user_form" method="post">
                {% csrf_token %}
                <fieldset>
                <legend>Choose your pseudo !</legend>
                {% if user_form.non_field_errors %}
                    {% for error in user_form.non_field_errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
                {% endif %}
                {% if user_form.username.errors %}
                    {% for error in user_form.username.errors %}
                        <div class="alert alert-error">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ user_form.username }}
                <button type="submit" class="btn" name="use_pseudo">Use</button>
                </fieldset>
            </form>
        {% endif %}
    {% endif %}
    {% if username %}
        Currently logged as {{ username }}.
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-inverse" name="logout">Logout</button>
        </form>
    {% endif %}
    </section>
    <section id="main" class="span8">
    {% if location %}
    {% else %}
        <div class="alert alert-error">
            Unable to determine your location.
        </div>
    {% endif %}
{% if all_messages %}
    {% for message in all_messages %}
        <article class="well well-small">
            <section class="message-text">
                <p>{{ message.message }}</p>
            </section>
            <section class=message-info>
                <span class="message-author">
                    Par <a href="{% url 'pmessages.views.index' message.username %}">{{ message.username }}</a>
                </span>
                <span class="message-date">
                    {{ message.date|naturaltime }}
                </span>
            </section>
        </article>
    {% endfor %}
{% else %}
    <p>No message.</p>
{% endif %}
    </section>
</div>
{% endblock %}
