{% load humanize %}
{% load pmessages_extras %}

{% if location %}
{% else %}
    <div class="alert alert-error">
        Unable to determine your location.
    </div>
{% endif %}
{% if all_messages %}
    {% for message in all_messages %}
    <article class="well well-small">
        <section class="message-text">
            <p>{{ message.message|urlize }}</p>
        </section>
        <section class=message-info>
            <span class="message-author">
                By <a href="{% url 'pmessages:messages-user' message.username %}">{{ message.username }}</a>
                within {{ message.distance|readable_distance }}
            </span>
            <span class="message-date">
                {{ message.date|naturaltime }}
            </span>
        </section>
    </article>
    {% endfor %}
{% else %}
    <p>No message.</p>
{% endif %}
